@import "_variables.scss";
:root {
	font-size: 16px;
}

body {
	margin: 3rem auto;
	max-width: 80rem;
	background-color: darken($ash-gray, 10%);
	padding: 1rem .5rem;
}
body > div {
	background-color: lighten($brown, 60%);
	padding: .5rem 1rem;
}
.picture {
	display: inline-block;
	width: 33%;
	img{
		width: 100%;
	}
}
@media screen and (max-width: 850px) {
	.picture {
		width: 49.6%;
	}
}
@media screen and (max-width: 550px) {
	.picture {
		width: 49.0%;
	}
}
.picture:first-child {
	width: 100%;
	//display: block;
}
.saturate {
	-webkit-filter: saturate(3);
}
.brightness {
	-webkit-filter: brightness(300%);
}
.blur {
	-webkit-filter: blur(2px);
}
.contrast {
	-webkit-filter: contrast(.9);
}
.gray-scale {
	-webkit-filter: grayscale(1);
}
.opacity {
	-webkit-filter: opacity(.8);
}
.invert {
	-webkit-filter: invert(1);
}
.mixed {
	-webkit-filter: invert(1) brightness(110%);
}
.sepia {
	-webkit-filter: sepia(50%);
}
.hue-rotate {
	-webkit-filter: hue-rotate(300deg);
}
h1 {
	background-color: lighten(gold, 30%);
	color: darken($default-text-color, 20%);
	font-size: 2rem;
	text-align: center;
	&:hover {
		background-color: darken(gold, 5%);
		font-size: 2.2rem;
	}
}